@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  background-image: linear-gradient(90deg, #7d5fff, #7158e2);
  font-family: "Lato", sans-serif;
  overflow: hidden;
  margin: 0;
  height: 100vh;
}

.search {
  position: relative;
  height: 3rem;
}

.search .input {
  position: relative;
  background-color: #fff;
  border: 0;
  font-size: 1rem;
  padding: 0.5rem;
  height: 4rem;
  width: 4rem;
  transition: width 0.3s ease;
}

.btn {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 4rem;
  width: 4rem;
  transition: transform 0.3s ease;
}

.btn:focus,
.input:focus {
  outline: none;
}

.search.active .input {
  width: 12.5rem;
}

.search.active .btn {
  transform: translateX(198px);
}
