* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.background {
    background: url('https://images.unsplash.com/photo-1556745757-8d76bdb6984b') no-repeat center center/cover;
    position: absolute;
    top: -1.2em;
    bottom: -1.2em;
    left: -1.2em;
    right: -1.2em;
    z-index: -1;
    filter: blur(1.2em);
}