*{
          box-sizing: border-box;
}
body{
          background-color: #2c3e50;
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          margin: 0;
}

.kinetic{
          position: relative;
          width: 5em;
          height: 5em;
}

.kinetic::after, .kinetic::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 0;
          border: 3em solid transparent;
          border-bottom-color: #fff;
          animation: rotateA 2s linear infinite 0.5s;
}

.kinetic::before{
          transform: rotate(90deg);
          animation: rotateB 2s linear infinite;
}

@keyframes rotateA{
          0%, 25%{
                    transform: rotate(0deg);
          }
          50%,75%{
                    transform: rotate(180deg);
          }
          100%{
                    transform: rotate(360deg);
          }
}
@keyframes rotateB{
          0%, 25%{
                    transform: rotate(90deg);
          }
          50%,75%{
                    transform: rotate(270deg);
          }
          100%{
                    transform: rotate(450deg);
          }
}