body{
          margin: 0;
}
.container{
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          grid-template-rows: repeat(3, 1fr);
          justify-items: center;
          justify-content: space-evenly;
          gap: 2em;
          background-color: blue;
          
}
.fill{
          background-image: url('https://source.unsplash.com/random/160x160');
          min-width: 10em;
          height: 10em;
          cursor: pointer;
}
.items{
          grid-row: 2/3;
          grid-column: 1/-1;
          display: flex;
          justify-content: space-evenly;
          flex-wrap: wrap;
}
.empty{
          border: 2px solid black;
          margin: 1em;
          background-color: rgb(243, 239, 239);
          min-width: 10em;
          height: 10em;
}
.hold{
          border: 2px solid #ccc;
}
.hovered{
          background-color: #333;
          border-color: white;
          border-style: dashed;
}