@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
body{
     margin: 0;
     font-family: 'Questrial', sans-serif;
}
.header{
     padding: 1rem;
     display: flex;
     align-items: center;
     justify-content: space-between;
     background-color: #7EBDC3;
}
.search{
     border-radius: 16px;
     padding: 0.2rem;
     padding-left: 0.5rem;
     background-color: transparent;
     border:medium solid white;
}
.search:focus {
     outline: none;
}
.main{
     padding: 2rem;
     background-color: #C6DEA6;
}
.movie-list{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
}
.individual-movie{
     width: 300px;
     margin: 1rem;
     border: thin solid #000;
     position: relative;
     cursor: pointer;
     overflow: hidden;
}
.card-inactive img{
     width: 100%;
}


.description{
     display: flex;
     justify-content: space-around;
     align-items: center;
}
.description h2{
     font-size: small;
}
.movie-rating{
     padding: 0.5rem;
}
.green{
     border: thin solid green;
     color: green;
}
.orange{
     border: thin solid orange;
     color: orange;
}

.red{
     border: thin solid red;
     color: red;
}
.card-active {
     position: absolute;
     text-align: justify;
     padding: 0.5rem;
     background: rgb(255, 255, 255);
     color: rgb(0, 0, 0);
     left: 0;
     bottom: 0;
     right: 0;
     max-height: 100%;
     transform: translateY(101%);
     transition: transform 0.4s ease;
   }
   
   .individual-movie:hover .card-active {
     transform: translateY(0%);
   }
   