@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.container {
  display: flex;
}

.panel {
  height: 80vh;
  border-radius: 50px;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-size: 3rem;
  position: absolute;
  color: aliceblue;
  left: 20px;
  top: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.one {
  background-image: url(https://cdn.pixabay.com/photo/2017/10/10/07/48/hills-2836301_960_720.jpg);
}

.two {
  background-image: url(https://cdn.pixabay.com/photo/2016/10/18/21/22/beach-1751455_960_720.jpg);
}

.three {
  background-image: url(https://cdn.pixabay.com/photo/2013/10/09/02/27/lake-192990_960_720.jpg);
}

.four {
  background-image: url(https://cdn.pixabay.com/photo/2017/03/29/15/18/tianjin-2185510_960_720.jpg);
}

.five {
  background-image: url(https://cdn.pixabay.com/photo/2014/09/10/00/59/mountains-440520_960_720.jpg);
}
